<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <div class="container-fluid precontent">Insert Text Here</div>

    <%= render "static_pages/nav" %>

    <div id="precontent"> <%= @team.name%>
        <p><%#= link_to "Apply", new_team_application_path(@team) %></p>
    </div>

    <div id="content">

        <% @team.users.each do |usr| %>
                <%= usr.firstname %>,<%= usr.lastname %><br/>
                <%= usr.major %><br/>
                <%= usr.bio %><br/>
        <% end %>

        <div class="divider"></div>     

    <% if can? :manage, Team %>
        <%= link_to 'Edit', edit_team_path(@team) %>
        <%= link_to 'Create New Team Project', new_team_project_path(@team) %>
    <% end %>
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>