
<%= render "nav" %>

<div class="container-fluid precontent">About Us</div>

<div class="container-fluid content brown dark" style="height: 85%;">
	<div class="row">
		<h2 class="blue1">Engineers Without Borders - USA</h2>
		<p class="dark">
			Today, more than two billion people lack access to the most basic 
			things, such as clean drinking water, adequate sanitation, reliable 
			passage to local markets and more. Engineers Without Borders USA 
			(EWB-USA) is engineering change in 47 countries around the world to 
			change this reality -- one well at a time, one bridge at a time, 
			one community at a time.
		</p>
	</div>

	<br>

	<div class="row">
		<div class="col-md-7" >
			<b class="blue1" style="font-size: 14pt">
				Our mission:
			</b> 
			<p>
				EWB-USA is a nonprofit humanitarian organization established to 
				support <i class="green1"><b>community-driven</b></i> 
				development programs worldwide through partnerships that design 
				and implement sustainable engineering projects, while creating 
				transformative experiences that enrich global perspectives and 
				create responsible leaders.
			</p>
		</div>
		<div class="col-md-5">
			<b class="blue1" style="font-size: 14pt">
				Our vision:
			</b>
			<p>
				EWB-USA's vision is a world in which the communities we serve 
				have the capacity to sustainably meet their basic human needs.
			</p>
		</div>
	</div>

	<br><br>

	<div class="row" >
		EWB has 7 main types of projects:
	</div>

	<!-- Sorry :/ -->
	<!-- [TODO] fix this ... later -->
	<table>
	<tr>
		<td>
			<%= image_tag "icon-water-blue.png", :width => "75%"%>
			<p class="img"> Water Supply </p>
		</td>
		<td>
			<%= image_tag "icon-sanitation-blue.png", :width => "75%"%>
			<p class="img"> Sanitation </p>
		</td>
		<td>
			<%= image_tag "icon-civil-orange.png", :width => "75%"%>
			<p class="img"> Civil Works </p>
		</td>
		<td>
			<%= image_tag "icon-structures-green.png", :width => "75%"%>
			<p class="img"> Structures </p>
		</td>
		<td>
			<%= image_tag "icon-energy-yellow.png", :width => "75%"%>
			<p class="img"> Energy </p>
		</td>
		<td>
			<%= image_tag "icon-agriculture-grellow.png", :width => "75%"%>
			<p class="img"> Agriculture </p>
		</td>
		<td>
			<%= image_tag "icon-infosys-red.png", :width => "75%"%>
			<p class="img"> Information Systems </p>
		</td>
	</tr>
	</table>
</div> 

<div class="container-fluid content">
	<div class="row">
		<h2 class="blue1">EWB at the University of Central Florida</h2>
	</div>

	<div class="row">
		<div class="col-md-7" >
			<p>
				The UCF chapter was founded in 2007 and began its first project 
				in Mare Brignol, Haiti in early 2008. EWB-UCF implemented a water 
				quality and supply project from 2009 to 2011. Students from the UCF 
				chapter implemented 34 bio-sand	water filters and and a rain 
				catchement and water storage system in Mare Brignol. The project 
				formally concluded in 2013.
			</p>
			<p>
				The UCF chapter currently has a local aquaponics project in 
				Bithlo, FL and is in the process of working with organizations in
				the Dominican Republic to start a new international project in the 
				region. Our project teams pursue several additional side projects
				ranging from automatic weather stations and software to local 
				rain catchment projects.
			</p>
		</div>

		<div class="col-md-5 haiti-pic">
			<%= image_tag "haiti2.jpg", :width => "100%", :class => "haiti" %>
		</div>
	</div>
</div>

<div class="container-fluid">	
	<div class="divider"></div>
</div>

<div class="container-fluid content">
	<div class="row">
		<h2 class="blue1">Get Involved</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				There are many ways to get involved in Engineers Without Borders.
				You can start by attending our general body meetings or other events
				to find out more about EWB and how you can get involved. We are 
				always accepting new members. Go to our
				<%= link_to 'events', '/events' %> page to find out about our 
				upcoming events and meetings. 
			</p>
			<p>
				You can still get involved if you're 
				not an engineering major. There are lots of opportunities to help 
				out, get involved, and make a difference!
			</p>
			<p>
				Check out our 
				<%= link_to 'Facebook page', 'https://www.facebook.com/EngineersWithoutBordersAtUcf' %>
				for more updates and announcements!
			</p>
		</div>
	</div>

</div> 


