<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">Circuit Series <h4 class="sub">Build and Design!</h4></div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			EWB’s Circuit Series Workshop is aimed at giving our engineers the opportunity to practice building and designing functional circuits! We will go through basic circuit components and practice solving basic circuits then move on to solving circuits with eagle cad. The second week we will learn how find circuit designs and modify them to fit our needs as well as look at some commonly found circuits. We will end the series with breadboarding our final circuit designs and then creating our own PCB!
			<br><br>
		</p>

		<%= image_tag "logo-circuit.jpg", :height => '180px', :class => 'tile' %>

		<br/>
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What's Covered?
		</h2>
		<p class="about-ucf">
			The workshop is taught at an accelerated pace and the topics each week require building on the previous weeks knowledge so if you plan to attend it is highly recommended that you come to all of them.
			<br/><br/>
			Students will be expected to watch a video prior to the workshop to prepare for it and give them some information so that they are more prepared to use the facilitator as a resource for learning rather than someone who stands in front and lectures. They may even practice a few problems and such before hand. Then the workshop will take place and we can all practice, work together and learn together.


			<br><br><br>
			
			Visit our <%= link_to 'github', 'http://github.com/ewb-ucf/circuitSeries_fall14' %> page for syllabus and coursework!
			<br><br>
		</p>

		<%= image_tag "", :height => '180px', :class => 'tile' %>

		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>