<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">MATLAB <h4 class="sub">Do your homework with MATLAB!</h4></div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			The MATLAB series is geared towards helping our engineers become skilled at using the right tools for the job. Matlab is one of the most widely used software packages used by engineers. An engineer’s proficiency in using tools like this to solve problems effectively and efficiently is looked for by employers!
			<br><br>
		</p>

		<%= image_tag "matlab.jpg", :height => '180px', :class => 'tile' %>

		<br/>
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What's Covered?
		</h2>
		<p class="about-ucf">
			This is being taught at an accelerated pace and the material builds on itself so it is recommended that you attend regularly unless you are super comfortable with a specific topic and don’t want review/practice! However, you can go at your own pace and it is not at all uncommon to have people at different levels so we will work with you wherever you are!
			<br><br>
			
			Visit our <%= link_to 'github', 'http://github.com/ewb-ucf/latlabSeries_fall14' %> page for syllabus and coursework!
			<br><br>
		</p>

		<%= image_tag "", :height => '180px', :class => 'tile' %>

		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>