<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <div class="container-fluid precontent">
        Calendar

        <% if can? :create, Event %>
            <p><%=link_to "Create New Event", new_event_path %></br></p>
        <% end %>
    </div>


    <div class="container-fluid content">

    <iframe src="https://www.google.com/calendar/embed?src=oj71g9qi5fa6jn8bji7uh9ld1c%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <br/>

    <% @events.each do |e| %>
            <div class="tile">
                <%= image_tag "logo-rails.png", :height => '180px', :class => 'tile' %>
                <h4 style="font-size: 20pt;"><%= link_to e.title, event_path(e), class: "title" %></h4><br/>
                <h5><%= e.category %></h5>
                <h6><%= e.date %></h6>
            </div>
    <% end %>

    <%= render "static_pages/footer" %>

    </div> <!-- content -->
</body>
</html>
