<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <div class="container-fluid precontent">Insert Text Here</div>

    <%= render "static_pages/nav" %>

    <div id="precontent">
    <%= @event.title.capitalize %>
    <h4 class="sub"> <%= @event.category.capitalize %></h4>

    <% if @event.blogs.exists? %>     
        <h4 class="sub"> <%= link_to @event.blog.title.titleize , event_blog_path(@event)%></h4>
    <% end %>

    <% if can? :manage, @event %>
        <% if not @event.blogs.exists? %>
            <p><%=link_to "Create Event Blog", new_event_blog_path(@event) %></p>
        <% end %>
        <p><%=link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Really delete the event?"}%> | <%= link_to "Edit", edit_event_path(@event) %></p>
    <% end %>
     </div>

    <div id="content">
        <h2 style="margin: 0px 0px 10px 0px; float: left;">
            What is it?
        </h2>
        <p class="about-ucf"><%= @event.description %><br><br></p>

        <p><%= image_tag @event.image.url %></p>

        <br/>
        <h2 style="margin: 0px 0px 10px 0px; float: left;">
            What's Covered?
        </h2>
            Visit our <%= link_to 'github', @event.infolink %> page for syllabus and coursework!
            <br><br>
        </p>

        <%= image_tag "", :height => '180px', :class => 'tile' %>

        <div class="divider"></div>


    <%= link_to "Back to all Events", events_path%></br>
    </div> <!-- content -->

    <%# If admin is logged in show event attendees %>
    <h2>Event Attendees</h2>
    <ul>
        <% @event.users.each do |u| %>
        <li><% u.firstname %></li>
        <% end %>
    </ul>

    <%= render "static_pages/footer" %>
</body>
</html>