

<div class="container-fluid precontent">
  Send A message to Us
</div>

<div class="container-fluid content">
  <div class="row">
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :subject, :placeholder => "bug fix, applications, etc", :required => true %>
      <%= f.input :message, :as => :text, :required => true %>

      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
  </div>
  <div class="row">
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
  </div>
  <% end %>
</div>