<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
	<%= render "static_pages/nav" %>

    <div id="precontent"> Contact Us
    </div>

    <div id="content" style="overflow: hidden;">
		
		<%= simple_form_for @contact do |f| %>
		  <%= f.input :name, :required => true %>
		  <%= f.input :email, :required => true %>
		  <%= f.input :message, :as => :text, :required => true %>
		  <%= f.button :submit, 'Send message' %>
		<% end %>
	
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>