<%# This is where users make a new project donation %>

<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>As a non-profit organization, our sole means of seeing these project to fruition comes from the support of people that believe in us. Thank you for your support!</p>

  <p>
    <%=f.label "Company Title" %><br/>
    <%=f.text_field :companyname %>
  </p>

  <p>
    <%=f.label "Your Name" %><br/>
    <%=f.text_field :donorname %>
  </p>

  <h5>Select a projects to donate to</h5>

  <%# List each project thumbnail with a dollar amount to its side %>
  <% @projects.each do |p| %>
    <p>
    <%= p.title %><br/>
    <%= p.fundingraised %><br/>
    <%= p.fundinggoal %><br/>
    <div><%= image_tag p.image.url %></div>
    </p>
    
    <p>
    <%=f.label "Amount" %><br/>
    $<%=f.number_field :amount %>.00
    </p>
    
    <p>
    <%=f.label "Make it recurring!" %>
    <%=f.check_box :recurring %>
    </p>

  <% end %>

  <p>
    <%=f.label "Add a message!" %><br/>
    <%=f.text_area :comment %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Non-financial contributions help also! This project also needs:</p>