<%# This page is only for admin shows a list of all donations %>

<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
  <%= render "static_pages/nav" %>

    <div id="precontent"> Admin Use Only
    <h4 class="sub">List of Donations</h4>  
    </div>

    <div id="content" style="overflow: hidden;">

    <%# Thumbnails of Projects to donate to with goal, raised, start_date, end_date %>
    <% @donations.each do  |don| %>
      <%= don.companyname  %><br/>
      <%= don.donorname  %><br/>
      $<%= don.amount  %>.00<br/>
      <%= don.comment  %><br/>
      <%= don.recurring  %><br/>
    <% end %>

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>