<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <div class="container-fluid precontent">Insert Text Here</div>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Our Projects
    </div>

    <div id="content" style="overflow: hidden;">

	<% @teams.each do |team| %>
            <div id="local">
            <%  %>
        	<li><%= link_to team.project.title, team_project_path(team)%></li>
        	<p><%= team.project.description %></p>

            <% if can? :manage, Project %>
                <p><%= link_to "Edit", edit_team_project_path(team) %> | 
                <%=link_to "Delete", team_project_path(team), method: :delete, data: {confirm: "Really delete the project?"}%>
            <% end %>
            </div>
        <% end %>

	<% if can? :create, Project %>
	<%=link_to "Create new project", new_project_path %></br>
	<% end %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>