<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> International Projects </div>

    <div id="content">

        <!--Fix the links so they point to an action bla#bla -->           
        <%= link_to "/projects/international/dr", class: "tile" do %>
            <div class="tile">
                <%= image_tag "DR.png", :height =>"90%", :width => "100%", :class => 'tile' %>
                <br>
                <h4 style="font-size: 20pt;">Dominican Republic</h4>
                <h5>Sustainability Project</h5>
            </div>
        <% end %>

        <!--Fix the links so they point to an action bla#bla -->           
        <%= link_to "/projects/international/haiti", class: "tile" do %>
            <div class="tile">
                <%= image_tag "haiti2.jpg", :width => "100%", :class => 'tile' %>
                <br>
                <h4 class="sub">Mare Brignol</h4> &nbsp; <h4>Haiti</h4>
                <br>
                <h5>Biofilter Project</h5>
            </div>
        <% end %>

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
