<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Local Projects </div>

    <div id="content">

        <!--Fix the links so they point to an action bla#bla -->           
        <%= link_to "/projects/local/bithlo", class: "tile" do %>
            <div class="tile">
                <%= image_tag "bithlo_logo.png", :height =>"50%", :width => "100%", :class => 'tile' %>
                <br>
                <h4 style="font-size: 20pt;">Bithlo</h4>
                <h5>Aquaponics Project</h5>
            </div>
        <% end %>


        <!--Fix the links so they point to an action bla#bla -->           
        <%= link_to "/projects/local/pbp", class: "tile" do %>
            <div class="tile">
                <%= image_tag "rainwater.jpg", :height =>"50%", :width => "100%", :class => 'tile' %>
                <br>
                <h4 style="font-size: 20pt;">PBP</h4>
                <h5>Rainwater Harvesting and Storage</h5>
            </div>
        <% end %>

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
