<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> 
    	<%= @project.title %> 
    	<p><%= link_to "Edit", edit_project_path(@project) %>

		<%=link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Really delete the project?"}%>
		</p>
    </div>

    <div id="content" style="overflow: hidden;">

    	<%# Display the project image if it exists%>
        <% if @project.image_file_name != nil %>
			<p><%= image_tag @project.image.url %></p>
		<% end %>

		<p><%= @project.description %></p>

		</br>

		<p><%= link_to 'Back to all projects', projects_path %></p>
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>