<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Our Projects</div>

    <div id="content" style="overflow: hidden;">

        <%
            international_projects_description = 'Our international project team works with communities outside of the US on projects that the they themselves have expressed a need for. Our projects require a minimum 5 year commitment and are geared toward empowering, teaching and working with communities rather than implementing a solution and leaving. It is very important that the community feels a sense of ownership and empowerment and we be used as a resource. In this way the sustainability of the project is ensured. Upon their request, our engineers use our skillsets to provide them with viable solutions to common problems like lack of fresh water, unsanitary waste disposal, infrastructure issues, poor indoor air quality, insufficient electricity, and much more!'

            local_projects_description = 'The local project team works to bring sustainable solutions to our neighboring communities! So many areas right under our nose go overlooked and the local project team offers their skills to help empower, educate and help build sustainable solutions'


            other_projects_description = "Additionally, EWB-UCF is geared towards teaching our engineers the skills that they don't get in the classroom. That being said we put on several workshops and mini-courses throughout the year that help give our members access to hands on learning opportunities. Check out upcoming courses and workshops HERE!"
        %>

        <%= raw project 'International Projects', international_projects_description %>

        <%= raw project 'Local Projects', local_projects_description %>

        <%= raw project 'Other Projects', other_projects_description %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
