<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Our Project Teams
    <% if can? :create, Team %>
    <p><%= link_to 'Create a New Team', new_team_path %></p>
    <% end %>
    </div>

    <div id="content" style="overflow: hidden;">

      <% @teams.each do |team| %>
          <h3><%= link_to team.name, team %></h3><br/><br/>
          <%= team.description %><br/><br/>
          
          <% if can? :manage, Team %>
            <%= link_to 'Edit', edit_team_path(team) %> |
            <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %><br/><br/><br/>
          <% end %>

      <% end %><br/>

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>