<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <%#CHANGE THIS MCKINNLEY ROSE TO PASSWORD REMEMBER ME? auto %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  
  <p>
      <%= f.label :image, "Profile Pic" %><br />
      <%= f.file_field :image %>
  </p>

  <div class="field">
    <%= f.radio_button :subscription, 'student', :checked => true %> 
    <%= label :subscription_student, 'Student Weekly Newsletter' %><br/>
    <%= f.radio_button :subscription, 'alum' %> 
    <%= label :subscription_alum, 'Alumni Monthly Newsletter' %><br/>
    <%= f.radio_button :subscription, 'nil' %> 
    <%= label :subscription_alum, 'No Newsletter' %><br/>
  </div>

  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </div>
  
  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>

  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>

  <div class="field">
    <%= f.label "About Me" %><br>
    <%= f.text_area :bio %>
  </div>
  
  <div class="field">
    <%= f.label :mysitelink, "Link to your personal site" %><br>
    <%= f.url_field :mysitelink %>
  </div>

  <div class="field">
    <%= f.label :cvlink, "Upload your CV" %><br>
    <%= f.url_field :cvlink %>
  </div>

  <div class="field">
    <%= f.label :resumelink, "Upload your Resume" %><br>
    <%= f.url_field :resumelink %>
  </div>

    <%"""Only Admin can change the role of the user """%>
    <% if can? :manage, @user %>
      <%= f.check_box :role, "admin" %>
      <%= label 'Admin' %>

      <%= f.check_box :role, "member", :checked => true %> 
      <%= label 'Member' %>

      <%= f.check_box :role, "eboard" %> 
      <%= label 'EBoard' %>

    <% end %>

  <div class="actions">
    <%= f.submit "Submit and Pay Dues" %>
  </div>

<% end %>