<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Edit User </div>

    <div id="content" style="overflow: hidden;">
		<% if not logged_in? %>
			flash.now.alert = "Please Login First"
			<% link_to "Create Account", new_user_path %>
		<% else %>
			<%= render 'form_membership' %>
		<% end %>

		<%= link_to 'Show', @user %>
		<%= link_to 'Back', users_path %>

		<br/><br/>

		<%= link_to 'Back', users_path %>
		
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>